<div class="panel-header panel-header-sm"></div>
<div *ngIf="showLoader" class="spinner-border loader" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div *ngIf="!showLoader" class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">In-Progress Complaints</h4>
        </div>

        
        <!-- FOR NORMAL MEMBER LOGIN -->

        <div *ngIf="logged === 'MEMBER'" class="card-body">
          <div class="table-responsive scroller">
            <table *ngIf="inProgressComplaintList.length > 0" class="table">
              <thead class="text-primary table-header">
                <th style="width: 8rem;">Complaint Id</th>
                <th>Complaint Name</th>
                <th style="width: 8rem;">Created On</th>
                <th class="text-right">Status</th>
              </thead>
              <tbody  class="table-body">
                <tr *ngFor="let data of inProgressComplaintList">
                  <td>{{data.comId}}</td>
                  <td>{{data.natureOfComp}}</td>
                  <td>{{data.createdOn | date: 'dd/MM/yyyy'}}</td>
                  <td *ngIf="data.flag == 'IP'" class="text-right">In-Progress</td>
                </tr>
              </tbody>
            </table>
            <table *ngIf="inProgressComplaintList.length == 0" class="table">
         
              <tbody  class="table-body">
               <p>No record found!</p>
                
              </tbody>
         
            </table>
          </div>
        </div>

        <!-- FOR ADMIN LOGIN -->
        <div *ngIf="logged === 'ADMIN'" class="card-body">
          <div class="table-responsive scroller">
            <table *ngIf="inProgressComplaintList.length > 0" class="table">
              <thead class="text-primary table-header">
                <th style="width: 8rem;">Complaint Id</th>
                <th>Complaint Name</th>
                <th style="width: 8rem;">Created On</th>
                <th class="text-right">Status</th>
              </thead>
              <tbody  class="table-body">
                <tr *ngFor="let data of inProgressComplaintList">
                  <td>{{data.comId}}</td>
                  <td>{{data.natureOfComp}}</td>
                  <td>{{data.createdOn | date: 'dd/MM/yyyy'}}</td>
                  <td *ngIf="data.stdid == 0" class="text-right">Pending</td>
                  <td>
                    <!-- <div style="display: flex;"> -->
                      <button type="button" data-toggle="tooltip" data-placement="right" title="Tooltip on right" (click)="calling(makeComplaint)" class="btn btn-primary btn-gaps">
                        
                        <i class="now-ui-icons gestures_tap-01"></i>

                      </button>
                      <button type="button" (click)="calling(makeComplaint)" class="btn btn-primary btn-gaps">
                        
                        <i class="now-ui-icons ui-1_check"></i>
                      </button>
                    <!-- </div> -->
                  </td>
                </tr>
                
              </tbody>
         
            </table>
            <table *ngIf="inProgressComplaintList.length == 0" class="table">
         
              <tbody  class="table-body">
               <p>No record found!</p>
                
              </tbody>
         
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          Google Maps
        </div>
        <div class="card-body ">
          <div id="map" class="map"></div>
        </div>
      </div>
    </div>
  </div>
</div> -->
