<div class="p-5">
  <nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link" href="./registration">Registration</a>
    <a class="nav-item nav-link active nav-color" href="./login">Login</a>
    <a class="nav-item nav-link" href="./admin">Admin Login</a>
  </nav>
</div>
<h2 class="col text-center">User Login</h2>

<form class="p-5" onsubmit="return false" formGroup="loginForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input
      type="email"
      formControlName="email"
      class="form-control"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />
    <!-- <small id="emailHelp" class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    > -->
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      type="password"
      formControlName="password"
      class="form-control"
      placeholder="Password"
    />
  </div>
  <!-- <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->
  <div>
    <a
      style="text-decoration: none; border-bottom: #ef6236 0.125em solid"
      href="./registration"
      class="link-primary"
      >user registration</a
    >
  </div>
  <div style="padding-top: 2rem" class="col text-center">
    <button (click)="calling(loginForm)" class="btn btn-primary">
      LogIn
      <i class="now-ui-icons arrows-1_minimal-right"></i>
    </button>
  </div>
</form>
