<div class="p-5">
  <nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link active nav-color" href="./registration"
      >Registration</a
    >
    <a class="nav-item nav-link" href="./login">Login</a>
    <a class="nav-item nav-link" href="./admin">Admin Login</a>
  </nav>
</div>
<h2 class="col text-center">User Registration</h2>
<div class="container">
  <form
    class="p-5"
    onsubmit="return false"
    id="registrationFormId"
    [formGroup]="registrationForm"
  >
    <div class="form-group">
      <label for="firstName">First name<sup class="super">*</sup></label>
      <input
        formControlName="firstName"
        type="text"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="Enter first name"
      />
      <div
        class="error-msg"
        *ngIf="
          isSubmitted &&
          (registrationForm.controls['firstName'].touched ||
            !registrationForm.controls['firstName'].valid)
        "
      >
        <div
          *ngIf="registrationForm.controls['firstName'].hasError('required')"
        >
          {{ errorMsgs.firstNameReq }}
        </div>
        <div *ngIf="registrationForm.controls['firstName'].hasError('pattern')">
          {{ errorMsgs.firstNamePattern }}
        </div>
        <!-- <div
        *ngIf="!registrationForm.controls['firstName'].hasError('pattern') && registrationForm.controls['firstName'].hasError('minlength')"
      >
        {{errorMsgs.firstNameMin}}
      </div>
      <div
        *ngIf="!registrationForm.controls['firstName'].hasError('pattern') && registrationForm.controls['firstName'].hasError('maxlength')"
      >
        {{errorMsgs.firstNameMax}}
      </div> -->
      </div>
      <!-- <small id="emailHelp" class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    > -->
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1"
        >Last name<sup class="super">*</sup></label
      >
      <input
        type="text"
        formControlName="lastName"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="Enter last name"
      />
      <div
        class="error-msg"
        *ngIf="
          isSubmitted &&
          (registrationForm.controls['lastName'].touched ||
            !registrationForm.controls['lastName'].valid)
        "
      >
        <div *ngIf="registrationForm.controls['lastName'].hasError('required')">
          {{ errorMsgs.lastNameReq }}
        </div>
        <div *ngIf="registrationForm.controls['lastName'].hasError('pattern')">
          {{ errorMsgs.lastNameReqPattern }}
        </div>
      </div>
      <!-- <small id="emailHelp" class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    > -->
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1"
        >Programme<sup class="super">*</sup></label
      >
      <input
        type="text"
        formControlName="programme"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="Enter programme name"
      />
      <!-- <small id="emailHelp" class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    > -->
      <div
        class="error-msg"
        *ngIf="
          isSubmitted &&
          (registrationForm.controls['programme'].touched ||
            !registrationForm.controls['programme'].valid)
        "
      >
        <div
          *ngIf="registrationForm.controls['programme'].hasError('required')"
        >
          {{ errorMsgs.lastNameReq }}
        </div>
        <div *ngIf="registrationForm.controls['programme'].hasError('pattern')">
          {{ errorMsgs.lastNameReqPattern }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Phone No<sup class="super">*</sup></label>
      <input
        type="text"
        formControlName="phoneNo"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="Enter mobile no."
      />
      <!-- <small id="emailHelp" class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    > -->
      <div
        class="error-msg"
        *ngIf="
          isSubmitted &&
          (registrationForm.controls['phoneNo'].touched ||
            !registrationForm.controls['phoneNo'].valid)
        "
      >
        <div *ngIf="registrationForm.controls['phoneNo'].hasError('required')">
          {{ errorMsgs.phoneNoReq }}
        </div>
        <div *ngIf="registrationForm.controls['phoneNo'].hasError('pattern')">
          {{ errorMsgs.phoneNoReqPattern }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1"
        >Email address<sup class="super">*</sup></label
      >
      <input
        type="email"
        formControlName="email"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
      <div
        class="error-msg"
        *ngIf="
          isSubmitted &&
          (registrationForm.controls['email'].touched ||
            !registrationForm.controls['email'].valid)
        "
      >
        <div *ngIf="registrationForm.controls['email'].hasError('required')">
          {{ errorMsgs.emailReq }}
        </div>
        <div *ngIf="registrationForm.controls['email'].hasError('pattern')">
          {{ errorMsgs.emailPattern }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1"
        >Password<sup class="super">*</sup></label
      >
      <input
        type="password"
        formControlName="password"
        class="form-control"
        placeholder="Password"
      />
      <div
        class="error-msg"
        *ngIf="
          isSubmitted &&
          (registrationForm.controls['password'].touched ||
            !registrationForm.controls['password'].valid)
        "
      >
        <div *ngIf="registrationForm.controls['password'].hasError('required')">
          {{ errorMsgs.passwordReq }}
        </div>
        <div *ngIf="registrationForm.controls['password'].hasError('pattern')">
          {{ errorMsgs.passwordPattern }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1"
        >Confirm Password<sup class="super">*</sup></label
      >
      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control"
        placeholder="Confirm Password"
      />
      <div
        class="error-msg"
        *ngIf="
          isSubmitted &&
          (registrationForm.controls['confirmPassword'].touched ||
            !registrationForm.controls['confirmPassword'].valid)
        "
      >
        <div
          *ngIf="
            registrationForm.controls['confirmPassword'].hasError('required')
          "
        >
          {{ errorMsgs.confirmpasswordReq }}
        </div>
        <div
          *ngIf="
            registrationForm.controls['confirmPassword'].hasError('pattern')
          "
        >
          {{ errorMsgs.confirmpasswordPattern }}
        </div>
      </div>
    </div>
    <!-- <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->
    <div class="col text-center">
      <button (click)="calling(registrationForm)" class="btn btn-primary">
        Submit
      </button>
    </div>
  </form>
</div>
