<div class="logo">
  <a href="https://www.creative-tim.com" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/angular2-logo-white.png" />
    </div>
  </a>
  <a
    style="font-size: smaller"
    href="https://www.creative-tim.com"
    class="simple-text logo-normal"
  >
    Complaint Management
    <br>
    <b style="font-size: 11px;">Welcome  </b><span style="font-size: 11px;">{{userName}}</span>
    <!-- <p><b>Hi</b>Deepanshu</p> -->
    <br>
    <!-- <a style="font-size: smaller">Hi Deepanshu</a> -->
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="now-ui-icons {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
    <li style="bottom:50px !important" routerLinkActive="active" class="{{ class }} nav-item">
      <a (click)="clickfun()">
        <i class="now-ui-icons {{ myIcon }}"></i>
        <p>{{ title }}</p>
      </a>
    </li>
  </ul>
</div>
