.scroller{
    overflow-x: hidden !important;
    overflow-y: auto !important;
}
.table-header{
    text-align: center !important;
}
.table-body{
    text-align: center !important;
}
.btn-margin{
    margin-right: 0.5rem !important;
}
.btn-gaps {
    margin-right: 1rem;
  }