<div class="panel-header panel-header-sm"></div>
<div *ngIf="showLoader" class="spinner-border loader" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div *ngIf="!showLoader" class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Pending Complaints</h4>
        </div>

        
        <!-- FOR NORMAL MEMBER LOGIN -->

        <div *ngIf="logged === 'MEMBER'" class="card-body">
          <div class="table-responsive scroller">
            <table *ngIf="pendingComplaintList.length > 0" class="table">
              <thead class="text-primary table-header">
                <th style="width: 8rem;">Complaint Id</th>
                <th>Complaint Name</th>
                <th style="width: 8rem;">Created On</th>
                <th class="text-right">Status</th>
              </thead>
              <tbody  class="table-body">
                <tr *ngFor="let data of pendingComplaintList">
                  <td>{{data.comId}}</td>
                  <td>{{data.natureOfComp}}</td>
                  <td>{{data.createdOn | date: 'dd/MM/yyyy'}}</td>
                  <td *ngIf="data.flag == 'P'" class="text-right">Pending</td>
                  

                </tr>
                
              </tbody>
         
            </table>
            <table *ngIf="pendingComplaintList.length == 0" class="table">
         
              <tbody  class="table-body">
               <p>No record found!</p>
                
              </tbody>
         
            </table>
          </div>
        </div>

        <!-- FOR ADMIN LOGIN -->
        <div *ngIf="logged === 'ADMIN'" class="card-body">
          <div class="table-responsive scroller">
            <table *ngIf="pendingComplaintList.length > 0" class="table">
              <thead class="text-primary table-header">
                <th style="width: 8rem;">Complaint Id</th>
                <th>Complaint Name</th>
                <th style="width: 8rem;">Created On</th>
                <th class="text-right">Status</th>
              </thead>
              <tbody  class="table-body">
                <tr *ngFor="let data of pendingComplaintList">
                  <td>{{data.comId}}</td>
                  <td>{{data.natureOfComp}}</td>
                  <td>{{data.createdOn | date: 'dd/MM/yyyy'}}</td>
                  <td *ngIf="data.stdid == 0" class="text-right">Pending</td>
                  <td>
                    <!-- <div style="display: flex;"> -->
                      <button type="button" data-toggle="tooltip" data-placement="right" title="Tooltip on right" (click)="calling(makeComplaint)" class="btn btn-primary btn-gaps">
                        
                        <i class="now-ui-icons gestures_tap-01"></i>

                      </button>
                      <button type="button" (click)="calling(makeComplaint)" class="btn btn-primary btn-gaps">
                        
                        <i class="now-ui-icons ui-1_check"></i>
                      </button>
                    <!-- </div> -->
                  </td>
                </tr>
                
              </tbody>
         
            </table>
            <table *ngIf="pendingComplaintList.length == 0" class="table">
         
              <tbody  class="table-body">
               <p>No record found!</p>
                
              </tbody>
         
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Notifications</h2>
    <p class="category">Please checkout the
      <a href="https://scttcper.github.io/ngx-toastr/" target="_blank">full documentation.</a>
    </p>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Notifications Style</h4>
        </div>
        <div class="card-body">
          <div class="alert alert-info">
            <span>This is a plain notification</span>
          </div>
          <div class="alert alert-info">
            <button type="button" aria-hidden="true" class="close">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <span>This is a notification with close button.</span>
          </div>
          <div class="alert alert-info alert-with-icon" data-notify="container">
            <button type="button" aria-hidden="true" class="close">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <span data-notify="icon" class="now-ui-icons ui-1_bell-53"></span>
            <span data-notify="message">This is a notification with close button and icon.</span>
          </div>
          <div class="alert alert-info alert-with-icon" data-notify="container">
            <button type="button" aria-hidden="true" class="close">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <span data-notify="icon" class="now-ui-icons ui-1_bell-53"></span>
            <span data-notify="message">This is a notification with close button and icon and have many lines. You can see that the icon and the close button are always vertically aligned. This is a beautiful notification. So you don't have to worry about the style.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Notification states</h4>
        </div>
        <div class="card-body">
          <div class="alert alert-primary">
            <button type="button" aria-hidden="true" class="close">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <span>
              <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
          </div>
          <div class="alert alert-info">
            <button type="button" aria-hidden="true" class="close">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <span>
              <b> Info - </b> This is a regular notification made with ".alert-info"</span>
          </div>
          <div class="alert alert-success">
            <button type="button" aria-hidden="true" class="close">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <span>
              <b> Success - </b> This is a regular notification made with ".alert-success"</span>
          </div>
          <div class="alert alert-warning">
            <button type="button" aria-hidden="true" class="close">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <span>
              <b> Warning - </b> This is a regular notification made with ".alert-warning"</span>
          </div>
          <div class="alert alert-danger">
            <button type="button" aria-hidden="true" class="close">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <span>
              <b> Danger - </b> This is a regular notification made with ".alert-danger"</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="places-buttons">
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto text-center">
                <h4 class="card-title">
                  Notifications Places
                  <p class="category">Click to view notifications</p>
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 ml-auto mr-auto">
                <div class="row">
                  <div class="col-md-4">
                    <button class="btn btn-primary btn-block" (click)="showNotification('top','left')">Top Left</button>
                  </div>
                  <div class="col-md-4">
                    <button class="btn btn-primary btn-block" (click)="showNotification('top','center')">Top Center</button>
                  </div>
                  <div class="col-md-4">
                    <button class="btn btn-primary btn-block" (click)="showNotification('top','right')">Top Right</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 ml-auto mr-auto">
                <div class="row">
                  <div class="col-md-4">
                    <button class="btn btn-primary btn-block" (click)="showNotification('bottom','left')">Bottom Left</button>
                  </div>
                  <div class="col-md-4">
                    <button class="btn btn-primary btn-block" (click)="showNotification('bottom','center')">Bottom Center</button>
                  </div>
                  <div class="col-md-4">
                    <button class="btn btn-primary btn-block" (click)="showNotification('bottom','right')">Bottom Right</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
